/* Please do not use this import in production. You could download this font from here https://fontshourage.com/font/roboto */
@import "http://fonts.fontstorage.com/import/roboto.css";
/*
	Roboto, 100, 100 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 700, 700 italic, 900, 900 italic
*/
body, html {
  width: 100%;
  height: 2000px;
  padding: 0;
  margin: 0;
  font-family: Roboto; }

header {
  width: 100%;
  height: 1000px; }
  header .menu {
    width: 100%;
    height: 44px;
    background-color: #000000;
    position: fixed;
    z-index: 9999;
    opacity: 0.8; }
  header .banner {
    width: 100%;
    height: 100%;
    background-image: url("../img/banner.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-weight: bold;
    position: relative;
    justify-content: center;
    top: -19px;
    background-color: #000000;
    top: 44px; }

main {
  width: 100%;
  height: auto; }
  main .forDev, main .forCust {
    display: inline-block;
    position: relative;
    width: 50%;
    height: auto;
    background-color: #373E48;
    top: 44px; }
  main .forCust {
    float: right;
    background-color: #31263E; }
  main h1 {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 40px; }
  main .desc {
    padding: 10px 50px 40px 50px;
    color: #A4A4A4; }
  main .whyWe {
    background-color: #C2C2C2;
    width: 100%;
    height: 500px; }
    main .whyWe .textWhyWe {
      font-size: 64px;
      padding-top: 30px; }
  main .portfolio {
    width: 100%;
    height: 1200px;
    background-color: white; }
  main .textP {
    color: black;
    font-size: 62px; }

footer {
  background-color: #373737;
  width: 100%;
  height: 400px;
  text-align: center;
  font-size: 92px;
  color: white; }

/*# sourceMappingURL=style.css.map */
